{% from 'macros/image.twig' import image %}
{% if title %}
  <header class="fluid-grid">
    {% block heroMedia %}
      {% if featured_image %}
        {{
          image(
            featured_image,
            '100vw',
            'col-[full-start/full-end] max-h-96 w-full object-cover',
            'eager',
            'high'
          )
        }}
      {% endif %}
    {% endblock %}
    <div class="col-[content-start/content-end]">
      {% block heroBody %}
        <p>
          {{ title }}
        </p>
      {% endblock %}
    </div>
  </header>
{% endif %}
