{% extends "page.twig" %}

{% block body %}
	<article class="col-[main-start/main-end]">
		<p>Sorry, we couldn't find what you're looking for.</p>
		<a href="{{ site.home_url }}">Return to Home</a>
	</article>
{% endblock %}
