{% extends "base.twig" %}

{% block content %}
	<div class="fluid-grid">
		<div class="col-[content-start/content-end]">
			<p>Sorry, we couldn't find what you're looking for.</p>
			<a href="{{ site.home_url }}">Return to Home</a>
		</div>
	</div>
{% endblock %}
