{% extends 'base.twig' %}

{% block content %}
  <div class="fluid-grid">
    <div class="col-[content-start/content-end]">
      {% include 'partials/post-list.twig' %}
    </div>
  </div>
{% endblock %}
