{% extends "base.twig" %}

{% block content %}
	{% block body %}
		<div class="{% if post.content %}py-16{% endif %} fluid-grid">
			<div class="col-[content-start/content-end]">
				<div class="prose">
					{{ post.content }}
				</div>
			</div>
		</div>
	{% endblock %}
{% endblock %}

{% block modules %}{% endblock %}
