{% extends "base.twig" %}

{% block content %}
<section class="bg-white">
    <div class="fluid-grid">
        <div class="col-[content-start/content-end]">
            <h1 class="text-black">Hello World</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</section>
{% endblock %}