{% extends 'base.twig' %}

{% block content %}
  {% if post %}
    <div class="fluid-grid">
      <div class="col-[content-start/content-end]">
        <div class="prose">
          {{ post.content|raw }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block modules %}

{% endblock %}
