{% extends 'base.twig' %}

{% block content %}
  <div class="fluid-grid">
    <div class="col-[content-start/content-end]">
      <div class="prose">
        {{ post.content|raw }}
      </div>
    </div>
  </div>
{% endblock %}

{% block modules %}

{% endblock %}
