{% extends 'base.twig' %}

{% block content %}
  <div class="fluid-grid">
    <div class="col-[content-start/content-end]">
      {% include 'partials/post-list.twig' with {
        empty_message: 'No results found for "' ~ search_query ~ '".'
      } %}
    </div>
  </div>
{% endblock %}
