{% extends 'base.twig' %}

{% block content %}
  <div class="fluid-grid">
    <div class="col-[content-start/content-end]">
      {% include 'partials/post-list.twig' with {
        empty_message: __('No results found for “%s”.', 'tatami')|format(
          search_query
        )
      } %}
    </div>
  </div>
{% endblock %}
